@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.ttf');
	font-style: normal; 
	font-weight: medium;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf');
	font-style: normal; 
	font-weight: bold;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: Roboto;
}
body {
	position: absolute;
	left: calc(50% - 800px);
	display: flex;
	flex-direction: column;
	width: 1600px;
}
section, footer { position: relative }
h2 { display: none }
#screen_1 {
	height: 744px;
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/bg-image.png');
}
#screen_1
a { text-decoration: none }
#screen_1
header
a.active { 
	opacity: 1;
	border-bottom: 1px solid rgba(255,255,255,1); 
}
#screen_1
header
a:hover { opacity: 1 }
#screen_1 
header {
	width: 100%;
	height: 95px;
}
#screen_1 
li { list-style: none }
#screen_1 
.menu-about { 
	position: absolute;
	top: 39px;
	left: calc(50% - 38px/2 - 279px);
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	color: rgba(255,255,255,1);
	opacity: 0.8;
}
#screen_1 
.menu-syllabus { 
	position: absolute;
	top: 39px;
	left: calc(50% - 53px/2 - 148.5px);
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	color: rgba(255,255,255,1);
	opacity: 0.8;
}
#screen_1
header
img {
	position: absolute;
	top: 25px;
	left: 778px;
	right: 778px;
	height: 45px;
}
#screen_1 
.menu-projects {
	position: absolute;
	top: 39px;
	left: calc(50% - 52px/2 + 148px);
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	color: rgba(255,255,255,1);
	opacity: 0.8;
}
#screen_1 
.menu-faq { 
	position: absolute;
	top: 39px;
	left: 1059px;
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	color: rgba(255,255,255,1);
	opacity: 0.8;
}
#screen_1
h1 {
	position: absolute;
	top: 230px;
	left: calc(50% - 730px/2);
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	letter-spacing: 4.5px;
	color: rgba(255,255,255,1);
}
#screen_1
p {
	position: absolute;
	top: calc(50% - 50px/2 - 20px);
	left: calc(50% - 504px/2);
	width: 504px;
	height: 50px;
	font-size: 18px;
	line-height: 140%;
	text-align: center;
	color: rgba(255,255,255,1);
}
#screen_1
button {
	position: absolute;
	top: calc(50% - 46px/2 + 56px);
	left: calc(50% - 184px/2);
	width: 184px;
	height: 46px;
	border: none;
	font-size: 14px;
	font-weight: bold;
	background: rgba(0,175,219,1);
	color: rgba(255,255,255,1);
}
#screen_1
button:hover { 
	cursor: pointer;
	background: rgba(0,156,194,1);
}
#screen_1
.socials 
ul {
	position: absolute;
	left: calc(50% - 170px/2);
	bottom: 90px;
	width: 170px;
	height: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#screen_1
.socials 
li { cursor: pointer }
#screen_1
.socials 
img:hover { transform: scale(1.2) }
#screen_2 {
	height: 842px;
	background-color: rgba(255,255,255,1);
}
#screen_2
article {
	position: absolute;
	top: 295px;
	left: 269px;
	width: 407px;
	height: 233px;
	white-space: nowrap;
}
#screen_2
h3 {
	display: flex;
	align-items: flex-end;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgba(55,55,55,1);
}
#screen_2
p {
	position: absolute;
	top: 77px;
	left: 0;
	font-size: 14px;
	line-height: 140%;
	color: rgba(78,78,78,1);
}
#screen_2
button {
	position: absolute;
	top: 187px;
	left: 0;
	width: 184px;
	height: 46px;
	padding: 15px 47px;
	border: none;
	font-size: 14px;
	font-weight: bold;
	background: rgba(0,175,219,1);
	color: rgba(255,255,255,1);
}
#screen_2
button:hover { 
	cursor: pointer;
	background: rgba(0,156,194,1);
}
#screen_2
img {
	position: absolute;
	top: 120px;
	left: 924px;
	width: 407px;
	height: 582px;
}
#screen_3 {
	height: 504px;
	background-color: rgba(245,246,247,1);
}
#screen_3
article {
	position: absolute;
	left: 269px;
	top: 155px;
	width: 298px;
	height: 175px;
}
#screen_3
article
img {
	position: absolute;
	top: 0;
	left: 127px;
	width: 45px;
	height: 45px;
}
#screen_3 
h3 {
	position: absolute;
	top: 65px;
	left: calc(50% - 160px/2);
	display: flex;
	align-items: center;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.4px;
	color: rgba(55,55,55,1);
}
#screen_3
p {
	position: absolute;
	top: 95px;
	left: calc(50% - 298px/2);
	display: flex;
	align-items: flex-end;
	text-align: center;
	font-size: 14px;
	line-height: 140%;
	color: rgba(78,78,78,1);
}
#screen_3
.slider
nav {
	position: absolute;
	top: 82px;
	right: 269px;
	width: 83px;
	height: 18px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#screen_3
.slider
nav {
	position: absolute;
	top: 82px;
	right: 269px;
	width: 83px;
	height: 18px;

}
#screen_3
.left-arrow {
	position: absolute;
	top: 2px;
	left: 0;
	width: 9px;
	height: 14px;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/arrow-left.png');
}
#screen_3
.left-arrow:hover { opacity: .5 }
#screen_3
.slide {
	position: absolute;
	top: 0;
	left: 23px;
	width: 37px;
	height: 18px;
}
#screen_3
.current-slide {
	position: absolute;
	top: calc(50% - 18px/2);
	left: calc(50% - 11px/2 - 13px);
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 100%;
	text-align: right;
	color: rgba(55,55,55,1);
}
#screen_3
.divider {
	position: absolute;
	top: 0;
	left: 15px;
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 100%;
	text-align: right;
	color: rgba(55,55,55,1);
}
#screen_3
.total-slide {
	position: absolute;
	top: calc(50% - 18px/2);
	left: calc(50% - 11px/2 + 13px);
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 100%;
	text-align: right;
	color: rgba(55,55,55,1);
}
#screen_3
.right-arrow {
	position: absolute;
	top: 2px;
	left: 74px;
	width: 9px;
	height: 14px;
	cursor: pointer;
    background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/arrow-right.png');
}
#screen_3
.right-arrow:hover { opacity: .5 }
#screen_3
.slider
.content {
	position: absolute;
	top: 120px;
	left: 706px;
	width: 894px;
	height: 244px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#screen_4 {
	height: 842px;
	background-color: rgba(255,255,255,1);
}
#screen_4
img {
	position: absolute;
	top: 120px;
	left: 269.5px;
	width: 407px;
	height: 582px;
}
#screen_4 
article {
	position: absolute;
	top: 319px;
	left: 815px;
	width: 407px;
	height: 184px;
	white-space: nowrap;
}
#screen_4 
h3 {
	display: flex;
	align-items: flex-end;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgba(55,55,55,1);
}
#screen_4
p {
	position: absolute;
	top: 48px;
	left: 0;
	font-size: 14px;
	line-height: 140%;
	color: rgba(78,78,78,1);
}
#screen_4
button {
	position: absolute;
	top: 138px;
	left: 0;
	width: 180px;
	height: 46px;
	padding: 15px 47px;
	border: none;
	font-size: 14px;
	font-weight: bold;
	background: rgba(0,175,219,1);
	color: rgba(255,255,255,1);
}
#screen_4
button:hover { 
	cursor: pointer;
	background: rgba(0,156,194,1);
}
#screen_5 {
	height: 524px;
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/pexels-christina-morillo-1181675 1.jpg');
}
#screen_5
article {
	position: absolute;
	top: 200px;
	left: 597px;
	width: 406px;
	height: 104px;
}
#screen_5
h3 {
	position: absolute;
	top: 0;
	left: 13px;
	display: flex;
	align-items: flex-end;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgba(255,255,255,1);
}
#screen_5
.form {
	position: absolute;
	top: 58px;
	left: 0;
	width: 406px;
	height: 46px;
}
#screen_5
input[type = "email"] {
	width: 340px;
	height: 46px;
	padding-left: 24px;
	border: none;
	font-size: 14px;
	line-height: 140%;
	display: flex;
	align-items: flex-end;
	color: rgba(55,55,55,1);
}
#screen_5
input[type = "email"]::placeholder { opacity: 0.5 }
#screen_5
input[type = "submit"] {
	position: absolute;
	top: 0;
	left: 340px;
	width: 66px;
	height: 46px;
	border: none;
	background-color: rgba(0,175,219,1);
    background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/check-icon.png');
}
#screen_5
input[type = "submit"]:hover { 
	background-size: 20px;
	cursor: pointer;
	background-color: rgba(0,156,194,1);
}
#screen_6 {
	height: 464px;
	background-color: rgba(245,246,247,1);
}
#screen_6 
h3 {
	position: absolute;
	top: 120px;
	left: 675px;
	width: 250px;
	height: 28px;
	display: flex;
	align-items: flex-end;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgba(55,55,55,1);
	white-space: nowrap;
}
#screen_6
p {
	position: absolute;
	top: 168px;
	left: 562.5px;
	font-size: 14px;
	line-height: 140%;
	display: flex;
	align-items: center;
	text-align: center;
	color: rgba(78,78,78,1);
}
#screen_6
.ios {
	position: absolute;
	top: 238px;
	left: 599px;
	width: 186px;
	height: 46px;
}
#screen_6
.android {
	position: absolute;
	top: 238px;
	left: 815px;
	width: 186px;
	height: 46px;
}
#screen_6
button {
	width: 127px;
	height: 46px;
	border: none;
	font-size: 14px;
	font-weight: bold;
	background: rgba(0,175,219,1);
	color: rgba(255,255,255,1);
}
#screen_6
button:hover { 
	cursor: pointer;
	background: rgba(0,156,194,1);
}
#screen_6
.ico {
	position: absolute;
	top: 0;
	left: 127px;
	width: 59px;
	height: 46px;
	background-color: rgba(0,156,194,1);
}
#screen_6
.ios 
.ico {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/Combined shape 755.png');
}
#screen_6
.ios:hover 
.ico { background-size: 20px; }
#screen_6
.android 
.ico {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/Combined shape 761.png');
}
#screen_6
.android:hover 
.ico { background-size: 22.5px; }
footer {
	height: 185px;
	background-color: rgba(0,0,0,1);
}
footer
nav {
	position: absolute;
	top: 73px;
	left: 160px;
	width: 236px;
	height: 20px;
}
footer
ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	align-items: center;
}
footer
div {
	height: 8px;
	width: 0.5px;
	background-color: white;
}
footer
a {
	color: rgba(255,255,255,1);
	text-decoration: none;
	font-size: 14px;
	line-height: 140%;
}
footer
img {
	position: absolute;
	top: 60px;
	left: 778px;
	width: 44px;
	height: 45px;
}
footer
p {
	position: absolute;
	top: 73px;
	left: 1270px;
	width: 170px;
	height: 20px;
	font-size: 14px;
	line-height: 140%;
	display: flex;
	align-items: flex-end;
	color: rgba(129,129,129,1);
	white-space: nowrap;
}